<div class="chatbox">
  <div class="messages">
    <div
      class="message"
      *ngFor="let msg of mensajes"
      [ngClass]="{
        sent:
          msg.sender_id != null
            ? msg.sender_id === currentUserId
            : msg.receiver_id === selectedUser?.id,
        received:
          msg.sender_id != null
            ? msg.sender_id !== currentUserId
            : msg.receiver_id === currentUserId
      }"
    >
      <span class="sender">{{ msg.sender_nickname || "" }}:</span><br />
      <span class="text">{{ msg.content }}</span>
    </div>
  </div>

  <div class="input-area">
    <input
      type="text"
      [(ngModel)]="nuevoMensaje"
      placeholder="Escribe un mensaje..."
      (keydown.enter)="enviarMensaje()"
    />
    <button (click)="enviarMensaje()">Enviar</button>
  </div>
</div>
